@charset "UTF-8";
/* CSS Document */

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}
body {
	line-height: 1;
	color: black;
	background: white;
	}
ol, ul {
	list-style: none;
	}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	text-align: left;
	font-weight: normal;
	}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}
	
.clear {
	clear: both;
}

/* Main Structure*/
body {
	margin:0px; padding:0px;
	background:#E7E7E7;
}

#main {
	background:url(images/background_slice.jpg) repeat-x #E7E7E7;
}

#header {
	background:url(images/header_slice.jpg) repeat-x;
	height:38px;
}

#logo {
	background:url(images/tcs_logo.jpg) no-repeat;
	width:186px;
	height:38px;
}

#logo h1, #logo small {
	margin:0px;
	display:block;
	text-indent:-9999px;
}	

ul#nav {
	margin:0px; padding:0px;
	float:right;
	padding-right:68px;
	margin-top:12px;
}

ul#nav li {
	display:inline;
	margin-left:20px;
}

ul#nav li a {
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#CCC;
}

ul#nav li a:hover {
	color:#FFF;
}

#block_title {
	background:url(images/title.jpg) no-repeat;
	height:328px;
}


/* Main Content */
#block_content {
	background-color:#E7E7E7;
	width:478px;
	min-height:700px;
	padding-left:52px;
	padding-right:30px;
	padding-top:7px;
	float:left;
	position:relative;
}

#block_content h2 {
	background:url(images/sprites.jpg) no-repeat -9px -9px;
	width:221px;
	height:20px;
	padding-bottom:10px;
	text-indent:-9999px;
}

p#about {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:16px;
	line-height:20px;
}

#block_content h3 {
	background:url(images/sprites.jpg) no-repeat -9px -40px;
	width:91px;
	height:18px;
	text-indent:-9999px;
	margin-top:45px;
	margin-bottom:10px;
}

#feat_box {
	width:425px;
	height:77px;
	margin-bottom:12px;
	background-color:#FFF;
	border:1px solid #E0E0E0;
}

#search {
	background:url(images/sprites.jpg) no-repeat -9px -100px;
	width:45px;
	height:48px;
	float:left;
	margin-left:20px;
	margin-top:17px;
	display:inline;
}

#favorites {
	background:url(images/sprites.jpg) no-repeat -60px -100px;
	width:45px;
	height:48px;
	float:left;
	margin-left:20px;
	margin-top:17px;
	display:inline;
}

#help {
	background:url(images/sprites.jpg) no-repeat -111px -100px;
	width:45px;
	height:48px;
	float:left;
	margin-left:20px;
	margin-top:17px;
	display:inline;
}

#feat_box p {
	padding-left:90px;
	padding-top:15px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:16px;
	color:#888;
}

#feat_box b {
	color:#69B9D7;
}

#buttons {
	margin-top:60px;
	height:120px;
	width:420px;
}

#download a {
	background:url(images/sprites.jpg) no-repeat -9px -155px;
	width:245px;
	height:67px;
	float:left;
	text-indent:-9999px;
}

#download a:hover {
	background-position:-9px -224px;
}

#facebook a {
	background:url(images/sprites.jpg) no-repeat -9px -365px;
	width:245px;
	height:34px;
	margin-top:10px;
	float:left;
	text-indent:-9999px;
}

#facebook a:hover {
	background-position:-9px -402px;
}

#purchase {
	float:right;
	width:145px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:14px;
	color:#666;
	margin-top:7px;
}

#price {
	background:url(images/sprites.jpg) no-repeat -9px -480px;
	height:46px;
	width:197px;
	text-indent:-9999px;
	margin-bottom:15px;
}

/* iPhone Content */
#block_iphone {
	float:right;
	width:400px;
	height:550px;
	padding-left:50px;
}

#iphone {
	background:url(images/iphone.jpg) no-repeat 0px 0px;
	width:331px;
	height:552px;
}

#screens {
	padding-left:54px;
	padding-top:60px;
}

#screenshots {
	float:right;
	width:460px;
	height:170px;
}

#thumbnails_box {
	margin:0 auto;
	padding:15px;
	background-color:#FFF;
	border:1px solid #E0E0E0;
	width:294px;
	height:82px;
}

#screenshot_title {
	background:url(images/sprites.jpg) no-repeat -9px -65px;
	width:106px;
	height:15px;
	text-indent:-9999px;
	margin-bottom:10px;
	margin-left:5px;
}

ul#thumbnails {
	margin:0px; padding:0px;
}

ul#thumbnails li {
	float: left;
}

ul#thumbnails li#search_thumb a {
	display:inline;
	float:left;
	background:url(images/sprites.jpg) no-repeat -148px -540px;
	width:58px;
	height:58px;
	text-indent:-9999px;
	margin-right:15px;
	margin-left:5px;
	border:1px solid #E0E0E0;
}

ul#thumbnails li#searchlist_thumb a {
	display:inline;
	float:left;
	background:url(images/sprites.jpg) no-repeat -10px -540px;
	width:58px;
	height:58px;
	text-indent:-9999px;
	margin-right:15px;
	border:1px solid #E0E0E0;
}

ul#thumbnails li#buslist_thumb a {
	display:inline;
	float:left;
	background:url(images/sprites.jpg) no-repeat -79px -540px;
	width:58px;
	height:58px;
	text-indent:-9999px;
	margin-right:15px;
	border:1px solid #E0E0E0;
}

ul#thumbnails li#favlist_thumb a {
	display:inline;
	float:left;
	background:url(images/sprites.jpg) no-repeat -217px -540px;
	width:58px;
	height:58px;
	text-indent:-9999px;
	border:1px solid #E0E0E0;
}

#footer {
	margin: 0 auto;
	height: 35px;
	color: #636261;
	background-color: #cacaca;
	font-size: 11px;
}

#footer_inner {
	width: 1024px;
	margin: 0 auto;

}

#copyright {
	float: left;
	margin: 15px 0 0 ;

}

#design_by {
	float: right;
	margin: 15px 0 0;
}

#design_by a {
	color: #0079a5;
	text-decoration: none;
}

#design_by a:hover {
	color: #0079a5;
	text-decoration: underline;
}

.container {
	width:1024px;
	margin:0 auto;
}