<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MTDRequestURL</key>
	<string>http://transitfx.cumtd.com/widget/Default2.aspx?pt=30&amp;code=mtd0000</string>
	<key>SearchURL</key>
	<string>http://stopwatch.cumtd.mobi</string>
	<key>User-Agent</key>
	<string>Mozilla/5.0 (iPhone; U; CPU iPhone OS 4_2_1 like Mac OS X; en-us) AppleWebKit/533.17.9 (KHTML, like Gecko) Version/5.0.2 Mobile/8C148 Safari/6533.18.5</string>
	<key>Content-Type</key>
	<string>application/x-www-form-urlencoded</string>
	<key>Referer</key>
	<string>http://stopwatch.cumtd.mobi/</string>
	<key>Accept</key>
	<string>application/xml,application/xhtml+xml,text/html;q=0.9,text/plain;q=0.8,image/png,*/*;q=0.5</string>
	<key>Origin</key>
	<string>http://stopwatch.cumtd.mobi</string>
	<key>HTTPBody</key>
	<string>__EVENTTARGET=&amp;__EVENTARGUMENT=&amp;txtSearch=%@&amp;cmdSubmit=Search</string>
</dict>
</plist>
